*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #990033;
    background-image: url('fotos/mosaico.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 90%;
   z-index:1;
   background-color:  #990033;
}

nav header{    
    text-align: center;
}
nav header a{
    display: inline;
}
nav header img:hover{
    transform: scale(1.1);
   transition: 0.8s;
}
.flu{
    font-size: 340%;
    margin-top: 35%;
    width: 100%;
    background-color: #99003383;
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
 
}
nav ul {
    list-style-type: none;
}
nav ul li {
    color: white;
    display: inline-block;
    position: relative;
    padding: 20px;
}
nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
nav ul li li {
    color: white;
}
nav ul li:hover {
    background-color:#d81355fd;
    
}
nav ul li:hover ul {
    display: block;
    background-color: #990033;
}
footer {
    background-color: #990033;
    color: black;
    bottom: 0;
    
    width: 100%;
    text-align: center;
}
footer img{
    display: inline;
    padding: 2%;
}
nav a {
    text-decoration: none;
    color: white;
}
#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 50vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15%;

}

.card {

    background-color: #990033ab;

    padding: 50px;

    border-radius: 2px;

    width:300px;
   

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}


.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #0629f3;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #fff;

    text-decoration: none;

} 

*{
    scrollbar-width: thin;
    scrollbar-color: #990033;
  }
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #990033;
    border-radius: 20px;
  }
  .h11{
    font-size: 350%;
    text-align: center;
    margin-top: 15%;
    color: #990033;
  }
  figure{
    
    margin-top:4%;
    display: inline;
    
    margin:6%;
  }
  figure img:hover{
    
    transform: scale(1.1);
   transition: 0.8s;
  }